:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*ELEMENTOS BASE*/

body {
    background: var(--preto);
    color: rgba(248, 248, 248, 0.98);
    font-family: 'Arial', Times, serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

header .logo {
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    font-weight: bold;
    padding: 10px;
}

header nav a:hover {
    color: #FFF;
}


/*FILME PRINCIPAL*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("https://github.com/GeovaneRigonato/New-netflix/blob/main/img/Capa-Mortal-Kombat.png?raw=true");
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .sinopse {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
    font-size: 18px;
    font-weight: 800;

}

.titulo {
    margin-top: 10%;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .4s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 10px;
}

.container {
    margin-left: 30px;
}

.filme-principal .container {
    width: 60%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 5px;
}

.carrosel-filmes {
    margin-top: 5px;
    cursor: grab;
}

.autor {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}